/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
#main {
width:960px;
margin:50px auto;
font-family:'Open Sans', sans-serif;
}
span {
color:red
}
hr {
border:0;
border-bottom:2px solid #000000;
margin:10px -41px;
margin-bottom:30px
}
#login {
width:300px;
float:center;
border-radius:10px;
font-family:'Open Sans', sans-serif;
border:2px solid #E6E6E6;
padding:10px 40px 25px;
margin-top:70px
background-color: grey;
}
input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #darkgrey;
padding-left:5px;
font-size:16px;
font-family:'Open Sans', sans-serif;
}
input[type=submit] {
width:100%;
background-color:#000;
color:#fff;
border:1px solid #FFF;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px;
}
#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7;
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray;
}
a {
text-decoration:none;
color:#6495ed;
}
i {
color:#6495ed;
}
